{% extends "layout.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
     
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SEIKO</title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
    <div class="cardre">
        <div class="card">
        <h2>นาฬิกายอดนิยมสำหรับรุ่น</h2>
        <div class="container d-none d-sm-block" style="margin-top: 50px;">
            <div class="alert alert-info" role="alert" style="background-color: #22113a6b;border-color: rgba(255, 255, 255, 0.021);color: rgba(247, 247, 247, 0.711);width: 630px;">
              <!-- <h2>นาฬิกายอดนิยมสำหรับรุ่น</h2> -->
              <p>ตอบโจทย์ในทุกปัญหา เบาสบายเหมือนไม่ได้ใส่ ดุดัน ไม่เกรงใจใคร มีสไตล์ไม่เหมือนใคร </p>
              <p>สุภาพบุรุษใส่แล้วเท่ สุภาพสตรีใส่แล้วเข้ม ลุยฟันฝ่าทุกอุปสรรค ต้องค่ายแบรนด์ SEIKO</p>
              <p>มีประกันตลอด 3 ปี หลังจากซื้อสินค้า มีโปรโมชั่นสำหรับลูกค้าหน้าใหม่ </p>
              <p>และมีการประมูลประจำปีสำหรับสมาชิก แบรนด์ SEIKO  เท่านั้นที่ลูกค้าไว้ใจ</p>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-info">Collection</button>
        <img src="../static/image/520.png">
        </div>
    </div>
    </body>
    </html>
{% endblock %}

